@use 'src/Components/Styles/grid' as *;
@use 'src/Components/Styles/colors' as *;

.gridContainer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: $unit 0;
}

.grid {
  display: inline-block;
  background: $white;
  padding: $unit;
}

.row {
  margin: $unit 0;
  display: flex;
  width: fit-content;
}

.letter {
  flex-grow: 1;
  margin: 0 $unit * 0.5;
  padding: $unit;
  min-width: $unit * 4;
  min-height: $unit * 4;
  background: $white;
  color: $black;
  border: 1px solid $blue;
  text-align: center;
  border-radius: $unit * 0.5;
}

.selected {
  border: 1px dotted $blue_dark_01;
  background: $dark-grey;
  color: $bright-grey;
}

.disabled {
  pointer-events: none;
}

.enabled {
  pointer-events: all;
}